*{
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
body{
    background-color: white;
    margin: 0px;
    padding: 0px;
}

/* ---------------------NAVBAR--------------------- */
nav{
    background-color: #860000;
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 60px;
    max-height: 60px;
    position: sticky;
    top: 0px;
    z-index: 1;

}

.logoHead img{
    width: 10vw;
    min-width: 10px;
}

.mainlogo2{
    display: none;
}


.Links ul{
margin: 0;
padding: 0;
display: flex;

}
.Links li{
    list-style-type: none;
}

.Links li a{
    text-decoration: none;
    color: aliceblue;
    display: block;
    padding: 1vw;
}

.navbar a:hover{
    background-color: rgb(202, 171, 171);
}

.search-elements{
    margin-left: auto;
    margin-right: 50px;
}
.search-elements input{
    border-radius: 15px;
    border-width: 1px;
    height: 25px;
}
.search-elements button{
    border-radius: 18px;
    background-color: #860000;
    border-color: aliceblue;
    border-width: 1px;
    color: aliceblue;
    height: 25px;
}
span{
    color:  aliceblue;
}

.profile img{
    width: 3rem;
    margin-right: 20px; 
}
/* ---------------------HEADER--------------------- */
#headerMain{
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#headerfiller{
    width: 100%;
    height: 35vh;
     background-image: url(Icons/bgnheader.png); 
     background-size: cover;
     filter: blur(10px);
     position: absolute;
     animation-duration: 20s;
     animation-name: transitionBG;
     animation-iteration-count: infinite;
}
#header img{
    width: 750px;
    height: 35vh;
    position: relative;
    top: 5px;
    border-radius: 8px; 
    background-color: rebeccapurple;
    animation-name: transitionMain;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
#header2 img{
    width: 750px;
    height: 35vh;
    position: absolute;
    top: 5px;
    border-radius: 8px; 
    background-color: rebeccapurple;
    animation-name: transitionMain2;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    opacity: 0;
}
/* ---------------------FOOTER--------------------- */

.foot{
    height: 175px;
    background-color: #860000;  
}

#footBase{
    align-items: center;
    width: 45vw;
    height: 150px;
    margin: auto;
    padding-top: 10px;
}
i{
    padding-top: 10px;
    width: 40px
}

.footericons{
    text-decoration: none;
    color: white;
}

.footerlinks ul{
    margin-bottom: 15px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.footerlinks li{
    list-style-type: none;
    
}

.footerlinks a{

    text-decoration: none;
    color: aliceblue;
    display: block;
    padding: auto;
}

.footertext{
    font-size: 10px;
}

/* ---------------------BODY    --------------------- */

.pic1 {
    width: 150px;
    height: 210px;
    display: block;
}
.pic2 {
    width: 150px;
    height: 210px;
}

.firstsection {
    width: 151px;
    height: 220px;
    display: inline-block;
    margin-left: 10px;
    transition: 0.4s;
}

.secondsection {
    width: 151px;
    height: 220px;
    display: inline-block;
    margin-left: 10px;
    transition: 0.4s;
}

.thirdsection {
    width: 151px;
    height: 220px;
    display: inline-block;
    margin-left: 10px;
    transition: 0.4s;
}

.fourthsection {
    width: 151px;
    height: 220px;
    display: inline-block;
    margin-left: 10px;
    transition: 0.4s;
}

.fifthsection {
    width: 151px;
    height: 220px;
    display: inline-block;
    margin-left: 10px;
    transition: 0.4s;
}

.newsSection{
    width: fit-content;
}



.recommendTopSection {
    max-width:  fit-content;
    display: flex;
    margin-left: 10px;
    margin-right: 15px;
    padding-right: 100px;
    margin-bottom: 40px;
}

.recommendText{
    width: 490px;
    margin-left: 50px;
    background-color: #ffffff;
}
.recommendDesc{
    padding: 0;
    margin: 0;
    text-align: justify;
}

.box {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.logoBody {
    display: flex;
    align-items: center;
    width: 500px;

}

.logoBodyFav{
    display: flex   ;
    align-items: center;
    width: 500px;
}

.logoBodyNews img{
    width: 45px;
}

.logoBodyNews {
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.newsButton{    
    min-width: 120px;
    padding: 0;
    color: #860000;
    border-radius: 18px;
    border-color: #860000;
    border-width: 2px;
    height: 25px;
    margin-left: 30px;
}

.support{
    align-items: center;
    text-align: center;
    margin: 60px;
}
.supportTitle{
    font-size: 1.5rem;
    color: #860000;
}
.supportDesc{
    font-size: 1.2rem;
    text-align: center;
}

.newsButton2{    
    min-width: 120px;
    padding: 0;
    color: #fff;
    border-radius: 18px;
    border-color: #860000;
    background-color: #860000;
    border-width: 2px;
    height: 25px;
}


.supportButton{   
    min-width: 120px;
    color: #fff;
    border-radius: 18px;
    border-color: #860000;
    background-color: #860000;
    border-width: 2px;
    height: 30px;
}

.supportButton a{   
color: #fff;
}

.supportButton2 a{   
    color: #fff;
    }
.supportButton2{   
    min-width: 90px;
    color: #fff;
    border-radius: 18px;
    border-color: #860000;
    background-color: #860000;
    border-width: 2px;
    height: 30px;
}

.News{
    width: 800px;
    margin-bottom: 30px;
}

.logoBodyRec {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.logoBodyFav img {
    width: 30px;
}

.logoBody img {
    width: 30px;
}


.sectionTitle{
    color: #860000;
    font-size: 2rem;
    margin-left: 10px;
    font-family: Georgia;
}

.sectionTitle2{
    color: #860000;
    font-size: 1.5rem;
    margin: 0;
}
.subTitle{
    color: #797979;
    font-size: 1.2rem;
    margin: 0;
}

.boxLastBot {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.boxLastTop {
    max-width: fit-content; 
    margin-left: auto;
    margin-right: auto;
}

.texttitle {
    color: var(--Labels-Primary, #860000);
    font-family: Georgia;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 7px;
    margin-bottom: auto;
    width: 150px;
    height: 33px;
}

.readers {
    color: black;
    font-family: Georgia;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: auto;

}

.textbelow1 {
    width: 150px;
    margin-left: 10px;
    background-color: transparent;
}

.textbelow2 {
    width: 150px;
    margin-left: 10px;
    background-color: transparent;
}

.first{
    transition: 0.2s;
}


/* ---------------------MEDIA AND KEYFRAMES SHIT--------------------- */
.first:hover, .secondsection:hover, .thirdsection:hover, .fourthsection:hover, .fifthsection:hover {
    transform:scale(1.5);
    z-index:5;
}

@media screen and (max-width: 800px){
    #header img, #header2 img, #footBase, .logoBody, .logoBodyFav, .logoBodyRec,.News{
        transition: 0.3s;
        width: 100%;
        min-width: 100%
        
    }

    .search-elements, #welcome, .footerlinks, .fourthsection   {
        display: none;
    }

    .mainlogo2{
        display: block;
        width: 100px;
        
    }
    .mainlogo1{
        display: none;
    }
    .profile img{
        margin: 0;
        padding: 0;
        text-align: right;
    }
    .favdesc{
        margin-bottom: 0;
        max-width: 320px;
    }
    .News{
        max-width: 500px;
    }

}


@media screen and (max-width: 990px){
    .fifthsection{
        display: none;
        }

    }

    
@media screen and (max-width: 600px){
    .thirdsection{
        display: none;
        }

    }


@keyframes transitionBG{
    0%{
        background-position: bottom;
    }

    10%{
        background-image: url(Icons/bgnheader2.png); background-position: bottom;
    }
    
    50%{
        background-image: url(Icons/bgnheader2.png); background-position: top;
    }

    60%{
        background-image: url(Icons/bgnheader.png);background-position: top;
    }

    100%{
        background-image: url(Icons/bgnheader.png);background-position: bottom;
    }

}

     @keyframes transitionMain{
        0%{
            opacity: 1;  display: block; transform: translateX(0%);
        }
        5%{
        opacity: 0; display: none; transform: translateX(100%);
        }

        55%{
            opacity: 0; display: none; transform: translateX(-100%);
        } 

        60%{
            opacity: 1; display: block; transform: translateX(0%);
        }
        100%{
            opacity: 1; display: block; 
        }
    } 


@keyframes transitionMain2{

    0%{ 
        opacity: 0; display: none;  transform: translateX(-100%);
     }
    5%{
       opacity: 0; display: none; transform: translateX(-100%);
    }    

     10%{
        opacity: 1; display: block; position:relative; transform: translateX(0px);
     }
     50%{
        opacity: 1; display: block;  position: relative; transform: translateX(0%);
     }
     55%{ opacity: 0; position: relative; display: none;transform: translateX(100%);
     }
     100%{ position: relative; display: none;
     }
}

