*{
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(207, 207, 207);
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: rgb(255, 0, 0);
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;

}

.logo img{
    width: 10vw;
    min-width: 100px;
}


.Links ul{
margin: 0;
padding: 0;
display: flex;

}
.Links{
    margin-right: 35vw;
}
.Links li{
    list-style-type: none;
}

.Links li a{
    text-decoration: none;
    color: aliceblue;
    display: block;
    padding: 20px;
}

.navbar a:hover{
    background-color: rgb(202, 171, 171);
}

.search-elements{
    margin-left: auto;
}
.search-elements input{
    border-radius: 15px;
    border-width: 1px;
    height: 25px;
}
.search-elements button{
    border-radius: 18px;
    background-color: rgb(255, 0, 0);
    border-color: aliceblue;
    border-width: 1px;
    color: aliceblue;
    height: 25px;
}
span{
    color: aliceblue;
    margin-left: auto;
}

.profile img{
    width: 3rem;
}

#headerMain{
    width: 100vw;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 300px;
}

#headerfiller{
    width: 100vw;
    height: 35vh;
     background-image: url(bgnheader.png); 
     background-size: cover;
     filter: blur(10px);
     position: absolute;
     min-height: 300px;
}
#header img{
    width: 750px;
    height: 35vh;
    position: relative;
    top: 5px;
    border-radius: 8px;
    min-height: 300px;
}
@media screen and (max-height: 500px) and (max-width: 500px){
    #header img{
        transition: 0.3s;
        width: 100vw;
        
    }
}