*{
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: white;
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: #860000;
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    min-height: 60px;
    max-height: 60px;
    position: sticky;
    top: 0px;
    z-index: 1;

}

.logoHead img{
    width: 10vw;
    min-width: 100px;
}


.Links ul{
margin: 0;
padding: 0;
display: flex;

}
.Links li{
    list-style-type: none;
}

.Links li a{
    text-decoration: none;
    color: aliceblue;
    display: block;
    padding: 1vw;
}

.navbar a:hover{
    background-color: rgb(202, 171, 171);
}

.search-elements{
    margin-left: auto;
    margin-right: 50px;
}
.search-elements input{
    border-radius: 15px;
    border-width: 1px;
    height: 25px;
}
.search-elements button{
    border-radius: 18px;
    background-color: #860000;
    border-color: aliceblue;
    border-width: 1px;
    color: aliceblue;
    height: 25px;
}
span{
    color:  aliceblue;
}

.profile img{
    width: 3rem;
    margin-right: 20px; 
}

#headerMain{
    width: 100vw;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 300px;
}

#headerfiller{
    width: 100vw;
    height: 35vh;
     background-image: url(Icons/bgnheader.png); 
     background-size: cover;
     filter: blur(10px);
     position: absolute;
     min-height: 300px;
}
#header img{
    width: 750px;
    height: 35vh;
    position: relative;
    top: 5px;
    border-radius: 8px;
    min-height: 300px;
}
@media screen and (max-width: 800px){
    #header img{
        transition: 0.3s;
        width: 100vw;
        
    }
    .search-elements, #welcome, .footerlinks{
        display: none;
    }
}

.foot{
    height: 175px;
    background-color: #860000;  
}

#footBase{
    align-items: center;
    width: 45vw;
    height: 150px;
    margin: auto;
    padding-top: 10px;
}
i{
    padding-top: 10px;
    width: 40px
}

.footericons{
    text-decoration: none;
    color: white;
}

.footerlinks ul{
    margin-bottom: 15px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.footerlinks li{
    list-style-type: none;
    
}

.footerlinks a{

    text-decoration: none;
    color: aliceblue;
    display: block;
    padding: auto;
}

.footertext{
    font-size: 10px;
}

.pic1 {
    width: 150px;
    height: 209px;
}
.bigPic {
    width: 150px;
    height: 209px;
}

.firstsection {
    width: 150px;
    display: inline-block;
    margin-left: 10px;
}

.box {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.logoBody {
    display: flex;
    align-items: center;
}

.logoBody img {
    width: 30px;
}

.sectionTitle{
    color: #860000;
    font-size: 1.5rem;
    margin-left: 10px;
}

.title {
    font-size: x-large;
    color: #860000;
    display: inline-block;
    width: 200px;
}

.splitsLast{
    
}

.boxLast {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;

}

