/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 100px;
    padding: 5px;   
}
  
/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.table {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    margin-top: 50px;
    margin-right: 0px;
    height: 50px;
    width: 50px;
}

.right {
    margin-top: 50px;
    margin-left: 0px;
    height: 50px;
    width: 50px;
}